.window-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--ui-overlay-background-color);
	display: grid;
	place-items: center;
	z-index: 500;
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}

@starting-style {
	.window-overlay {
		opacity: 0;
	}
}
