.password-validator {
	.password-validator__progress {
		height: 0.1875rem;
		position: relative;
		margin-top: var(--wa-space-xs);
		display: none;
		background: var(--wa-color-neutral-fill-normal);

		> div {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			max-width: 100% !important;

			&.danger {
				background: var(--wa-color-danger-fill-loud);
			}

			&.warning {
				background: var(--wa-color-warning-fill-loud);
			}

			&.success {
				background: var(--wa-color-success-fill-loud);
			}
		}

		&.is_filled {
			display: block;
		}
	}

	wa-input {
		[slot='end'] {
			span {
				color: var(--wa-color-neutral-on-quiet);
			}

			span:last-child {
				display: none;
			}
		}

		&[type='text'] [slot='end'] {
			span:first-child {
				display: none;
			}

			span:last-child {
				display: block;
			}
		}
	}

	.password-validator__steps {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: var(--wa-space-xs);
		display: none;

		li {
			font-size: var(--wa-font-size-xs);
			color: var(--wa-color-neutral-on-quiet);
			font-weight: var(--wa-font-weight-semibold);
			display: none;
			align-items: center;

			i {
				font-style: normal;
				margin-right: var(--wa-space-xs);
				display: block;
				width: 0.75rem;
				font-size: 0.75rem;
				text-align: center;

				&:nth-child(2) {
					color: var(--wa-color-success-fill-loud);
					display: none;
				}
			}

			&[data-step='max'] {
				display: none !important;
			}

			&.requires {
				display: flex;
			}
		}
	}

	&.long-password li[data-step='max'] i,
	.password-validator__steps li.complete i {
		wa-icon {
			color: var(--wa-color-success-fill-loud);
		}
	}

	&.has-policy {
		.password-validator__progress,
		.password-validator__steps {
			display: flex;
			flex-direction: column;
			gap: var(--wa-space-3xs);

			li:not(.requires),
			li[data-role='long-password'] {
				display: none;
			}

			li {
				display: flex;
				margin: 0;
				gap: var(--wa-space-xs);
				color: var(--wa-form-control-hint-color);

				wa-icon[data-state='success'] {
					display: none;
				}

				&.complete {
					wa-icon {
						color: var(--wa-color-success-fill-loud);
					}
				}
			}
		}

		.password-validator__steps {
			li {
				wa-icon {
					color: var(--wa-form-control-hint-color);
				}
			}
		}
	}

	&.long-password {
		.password-validator__steps {
			li[data-role='long-password'] {
				display: flex;
			}

			li:not([data-role='long-password']) {
				display: none !important;

				&[data-step='max'] {
					display: flex !important;
				}
			}
		}
	}
}
