.password-validator {
	.password-validator__progress {
		height: 0.1875rem;
		position: relative;
		margin-top: var(--ui-spacing-xs);
		display: none;
		background: var(--ui-track-color);

		> div {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			max-width: 100% !important;

			&.danger {
				background: var(--ui-color-danger);
			}

			&.warning {
				background: var(--ui-color-warning);
			}

			&.success {
				background: var(--ui-color-success);
			}
		}

		&.is_filled {
			display: block;
		}
	}

	wa-input {
		[slot='end'] {
			span {
				color: var(--ui-color-neutral-on-quiet);
			}

			span:last-child {
				display: none;
			}
		}

		&[type='text'] [slot='end'] {
			span:first-child {
				display: none;
			}

			span:last-child {
				display: block;
			}
		}
	}

	.password-validator__steps {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: var(--ui-spacing-xs);
		display: none;

		li {
			font-size: var(--ui-font-size-xs);
			color: var(--wa-color-neutral-on-quiet);
			font-weight: var(--ui-font-weight-semibold);
			display: none;
			align-items: center;

			i {
				font-style: normal;
				margin-right: var(--ui-spacing-xs);
				display: block;
				width: 0.75rem;
				font-size: 0.75rem;
				text-align: center;

				&:nth-child(2) {
					color: var(--ui-color-success);
					display: none;
				}
			}

			&[data-step='max'] {
				display: none !important;
			}

			&.requires {
				display: flex;
			}
		}
	}

	&.long-password li[data-step='max'] i,
	.password-validator__steps li.complete i {
		wa-icon {
			color: var(--ui-color-success);
		}
	}

	&.has-policy {
		.password-validator__progress,
		.password-validator__steps {
			display: flex;
			flex-direction: column;
			gap: var(--ui-spacing-3xs);

			li:not(.requires),
			li[data-role='long-password'] {
				display: none;
			}

			li {
				display: flex;
				margin: 0;
				gap: var(--ui-spacing-xs);
				color: var(--ui-form-hint-color);

				wa-icon[data-state='success'] {
					display: none;
				}

				&.complete {
					wa-icon {
						color: var(--ui-color-success);
					}
				}
			}
		}

		.password-validator__steps {
			li {
				wa-icon {
					color: var(--ui-form-hint-color);
				}
			}
		}
	}

	&.long-password {
		.password-validator__steps {
			li[data-role='long-password'] {
				display: flex;
			}

			li:not([data-role='long-password']) {
				display: none !important;

				&[data-step='max'] {
					display: flex !important;
				}
			}
		}
	}
}
