.spinner {
  &.size-xl {
    font-size: 4rem;
  }

  &.color-primary {
    wa-spinner {
      --indicator-color: var(--wa-color-brand-fill-loud);
    }
  }

  &.color-white {
    wa-spinner {
      --indicator-color: var(--wa-color-neutral-on-loud);
    }
  }
}
