.form-hint {
	font-size: var(--wa-font-size-s);
	color: var(--wa-form-control-hint-color);
	font-weight: var(--wa-form-control-hint-font-weight);
	line-height: var(--wa-form-control-hint-line-height);

	&.invalid {
		color: var(--wa-color-danger-on-quiet);
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: var(--wa-space-s);
}

.form-control-label {
	color: var(--wa-form-control-label-color);
	font-weight: var(--wa-form-control-label-font-weight);
	line-height: var(--wa-form-control-label-line-height);
	display: block;
	text-align: left;
}

.form-control-label,
wa-input::part(label),
wa-textarea::part(label),
wa-number-input::part(label) {
	font-size: var(--wa-form-control-label-font-size);
	margin-block-end: var(--wa-form-control-label-space-bottom);
}

wa-select {
	&.has-label {
		&::part(form-control-label) {
			margin-bottom: var(--wa-form-control-label-space-bottom);
		}
	}
}
