.form-hint {
	font-size: var(--wa-font-size-s);
	color: var(--wa-form-control-hint-color);
	font-weight: var(--wa-form-control-hint-font-weight);
	line-height: var(--wa-form-control-hint-line-height);

	&.invalid {
		color: var(--wa-color-danger-on-quiet);
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: var(--wa-space-s);
}

.form-label {
	color: var(--wa-form-control-label-color);
	font-weight: var(--wa-form-control-label-font-weight);
	line-height: var(--wa-form-control-label-line-height);
	margin-bottom: var(--wa-space-xs);
	display: inline-block;
}

wa-select {
	&::part(form-control-label) {
		margin-bottom: var(--wa-space-xs);
	}
}
