:root {
	--wa-form-control-label-color: var(--wa-color-text-normal);
	--wa-form-control-label-font-weight: var(--wa-font-weight-normal);
	--wa-form-control-label-line-height: 1.6;

	--wa-form-control-hint-color: var(--wa-color-neutral-60);
	--wa-form-control-hint-font-weight: var(--wa-font-weight-normal);
	--wa-form-control-hint-line-height: 1.6;

	/* --- Package-specific variables --- */
	--ui-uploader-min-item-height: 4.1875rem;
}
